@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #221f1f;
  font-family: "Roboto Mono", monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*------ intro animation ------*/
@keyframes outer {
  20% {
    border: 2px solid #e50914;
  }
  60% {
    border: 2px solid #ffffff;
  }
  100% {
    border: 2px solid #ffffff;
  }
}
@keyframes inner {
  20% {
    border: 2px solid #ffffff;
    transform: rotate(45deg);
  }
  50% {
    border: 2px solid #e50914;
    transform: rotate(90deg);
  }
  100% {
    border: 2px solid #e50914;
    transform: rotate(135deg);
  }
}
@keyframes anim {
  20% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  70% {
    transform: scale(5);
  }
}
.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.outer {
  width: 80px;
  height: 80px;
  border: 2px solid #e50914;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation-name: outer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.inner {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation-name: inner;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform: rotate(45deg);
}
.anim {
  position: absolute;
  width: 50px;
  animation-name: anim;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
/*-------------------------*/

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #221f1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5f5f18f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*---------------------------*/
.logo {
  z-index: 20;
  background-image: linear-gradient(180deg, #221f1f, #e50914);
  padding: 5px;
  width: 35px;
  border: 2px solid #f5f5f1;
  cursor: pointer;
}
.nonav {
  height: 0px;
  overflow: hidden;
}
.nav-bar {
  background-color: #221f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  color: #f5f5f1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 0.21s;
  transition-timing-function: ease-in;
  z-index: 100;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
li {
  margin: 10px;
  padding: 10px;
}
button {
  margin-left: 10px;
  padding: 15px;
  font-size: 16;
  border: 1px solid #e50914;
  border-radius: 5px;
  background-color: #221f1f00;
  color: white;
  transition: 0.4s;
}
button:hover {
  background-color: #e5091477;
  cursor: pointer;
}
.navbtns {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-family: "Roboto Mono", monospace;
}
.navbtns:hover {
  color: #e50914;
  background-color: #221f1f00;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #e50914;
}
a:focus {
  color: #e50914;
}
.hamburger-react {
  display: none;
  color: #e50914;
  z-index: 20;
}

.mobile-nav {
  position: absolute;
  background-color: #221f1fc0;
  height: 100vh;
  top: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  width: 35%;
  height: 100%;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  background-color: #252323;
  list-style: none;
  font-size: 20px;
  padding: 0;
}

/*----------------------------------------------------*/
.icons {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #f5f5f1;
  font-size: 20px;
}
.icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  margin-top: 10px;
  background-color: #f5f5f1;
}
.icons li {
  margin: 5px 0;
  padding-bottom: 0;
  transition: 0.4s;
}
.icons li:hover {
  transform: translateY(-5px);
}
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #f5f5f1;
  padding: 0px 50px;
}
.email p {
  writing-mode: tb-rl;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 300;
  font-size: 12px;
}
.email p a {
  margin: 0;
  padding: 0;
}
.email p:hover {
  transform: translateY(-5px);
  color: #e50914;
}
.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  margin-top: 20px;
  background-color: #f5f5f1;
}

/*------------------home-----------------------*/
section {
  padding: 0 13%;
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px;
}
h1 {
  display: block;
  font-size: clamp(15px, 5vw, 16px);
  color: #e50914;
  margin-bottom: clamp(10px, 5vw, 30px);
  word-spacing: 3px;
}
h2 {
  display: block;
  font-size: clamp(20px, 8vw, 70px);
  color: #f5f5f1;
  line-height: 1;
  margin-top: 10px;
}
h3 {
  display: block;
  font-size: clamp(20px, 8vw, 60px);
  color: #f5f5f1a9;
  line-height: 1;
  margin-top: 10px;
}
p {
  margin: 30px 0px 0px;
  max-width: 540px;
  color: #f5f5f1a9;
  line-height: 1.4;
  font-size: 14px;
}
.hire {
  margin: 50px 0 0;
  padding: 20px 28px;
  font-size: 16px;
}
/*-----------------------------*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.about-me {
  font-size: clamp(2px, 6vw, 32px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.1;
  margin: 10px 0 40px;
  width: 100%;
}
.about-me::after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  margin-left: 10px;
  background-color: #f5f5f162;
}
.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-intro p {
  margin: 0px 0px 15px;
}
.techs {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
.techs li {
  color: #f5f5f1a9;
  font-size: 13px;
  margin: 0 0 10px;
  padding: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
}
.skills {
  font-size: 18px;
  color: #e50914;
  margin-right: 10px;
}
.right {
  align-self: flex-start;
  width: 50%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 60%;
  align-self: right;
  transition: 1s;
}
/*-----------------------Projects-------------------*/

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 50px;
}
.container {
  position: relative;
  width: 100%;
  height: 50%;
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}
.cover {
  background-color: #e509143b;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
  left: 0;
  transition: 1s;
}
.cover:hover {
  transition: 1s;
  background-color: rgba(255, 0, 0, 0);
}
.project-pic {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: block;
  left: 0;
}

.project-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
  z-index: 1;
}
.project-overline {
  color: #e50914;
  margin: 10px 0;
}
.project-header {
  font-size: clamp(24px, 5vw, 28px);
}
.description {
  background-color: #333030;
  padding: 25px;
  margin: 20px 0;
}
.description:hover {
  box-shadow: 5px 5px 10px #1b1a1a;
}
.description p {
  margin: 0;
  padding: 0;
}
.project-techs {
  display: flex;
  padding: 0;
  margin-bottom: 20px;
  text-align: right;
  list-style: none;
}
.project-techs li {
  font-size: 12px;
  text-align: right;
  margin: 0;
  padding: 0 0 0 10px;
  color: #f5f5f1a9;
}
.project-links a {
  transition: 0.21s;
  font-size: 25px;
  margin-left: 15px;
}
/*-----------------------------*/

.contacts {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts h2 {
  font-size: clamp(40px, 5vw, 60px);
}
.contacts button {
  margin-top: 50px;
  font-size: 16px;
}
.contacts button a:hover {
  color: white;
}
.contacts button a:focus {
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  height: 5%;
}
footer p {
  margin: 0;
  max-width: 300px;
}
.icons-mobile {
  display: none;
}
.icons-mobile li {
  margin: 0;
}

/*---------------404----------------------*/
.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
.notFound h1 {
  font-size: 50px;
}
.notFound span {
  color: white;
  font-size: 100px;
}

/*------------------------------------------*/

@media only screen and (max-width: 770px) {
  .hamburger-react {
    display: block;
  }
  .nav-list {
    display: none;
  }
  .icons {
    display: none;
  }
  .email {
    display: none;
  }
  /*----------------------------*/
  section {
    padding: 0 5%;
  }
  .about {
    margin: 0;
  }
  .projects {
    margin: 100px 0;
  }
  .about-me {
    width: 100%;
  }
  .about-me::after {
    width: 50%;
  }
  .about-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .right {
    align-self: center;
    width: 70%;
    margin-left: 0;
    margin-top: 20px;
  }
  .project-pic {
    display: none;
  }
  .cover {
    display: none;
  }
  .project-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    z-index: 1;
  }
  .icons-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
}
